@import "variables";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;

  h1 {
    font-weight: 500;
  }

  nav {
    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 16px;

        @media (max-width: $mobile-size) {
          margin: 0 4px;
        }

        a {
          text-decoration: none;
          color: inherit;
          padding-bottom: 2px;

          &:hover,
          &.active {
            border-bottom: 2px solid var(--primary-color);
          }
        }
      }
    }
  }
}
