#search-box {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;

  .search-input-wrap {
    width: 100%;
    position: relative;

    .search-input {
      background-color: var(--light-gray-color);
      padding: 10px 14px;
      border-radius: 48px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10;

      button {
        svg {
          font-size: 22px;
          margin-right: 10px;
          transform: translateY(1px);
        }
      }

      input {
        width: 100%;
        background-color: transparent;
      }
    }

    .search-history-wrap {
      position: absolute;
      z-index: 9;
      top: 18px;
      left: 0;
      width: 100%;
      background-color: var(--light-gray-color);
      border-radius: 0 0 20px 20px;
      padding: 28px 0 8px 0;

      & > div {
        display: flex;
        margin: 8px 0;
        padding: 0 46px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        color: var(--secondary-color);

        p {
          cursor: pointer;
        }

        button {
          svg {
            font-size: 28px;
          }
        }
      }
    }
  }

  .more-search {
    width: 86px;
    height: 32px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
  }
}
